/************************************ 
/ greyp
/ grey palette for design prototyping 
************************************/
/* Background colors: */
.bg-black {
  background-color: #000;
}

.bg-white {
  background-color: #fff;
}

/* Text colors: */
.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

.bg-dark-1 {
  background-color: #061015;
}

.text-dark-1 {
  color: #061015;
}

.border-dark-1 {
  border-color: #061015;
}

.bg-dark-2 {
  background-color: #101a1f;
}

.text-dark-2 {
  color: #101a1f;
}

.border-dark-2 {
  border-color: #101a1f;
}

.bg-dark-3 {
  background-color: #192429;
}

.text-dark-3 {
  color: #192429;
}

.border-dark-3 {
  border-color: #192429;
}

.bg-dark-4 {
  background-color: #232e33;
}

.text-dark-4 {
  color: #232e33;
}

.border-dark-4 {
  border-color: #232e33;
}

.bg-dark-5 {
  background-color: #2d383d;
}

.text-dark-5 {
  color: #2d383d;
}

.border-dark-5 {
  border-color: #2d383d;
}

.bg-dark-6 {
  background-color: #374248;
}

.text-dark-6 {
  color: #374248;
}

.border-dark-6 {
  border-color: #374248;
}

.bg-light-1 {
  background-color: #ced5d9;
}

.text-light-1 {
  color: #ced5d9;
}

.border-light-1 {
  border-color: #ced5d9;
}

.bg-light-2 {
  background-color: #d0dde4;
}

.text-light-2 {
  color: #d0dde4;
}

.border-light-2 {
  border-color: #d0dde4;
}

.bg-light-3 {
  background-color: #d5e5ed;
}

.text-light-3 {
  color: #d5e5ed;
}

.border-light-3 {
  border-color: #d5e5ed;
}

.bg-light-4 {
  background-color: #dbecf4;
}

.text-light-4 {
  color: #dbecf4;
}

.border-light-4 {
  border-color: #dbecf4;
}

.bg-light-5 {
  background-color: #e3f2fa;
}

.text-light-5 {
  color: #e3f2fa;
}

.border-light-5 {
  border-color: #e3f2fa;
}

.bg-light-6 {
  background-color: #ecf7fd;
}

.text-light-6 {
  color: #ecf7fd;
}

.border-light-6 {
  border-color: #ecf7fd;
}

.bg-grey-1 {
  background-color: #464f54;
}

.text-grey-1 {
  color: #464f54;
}

.border-grey-1 {
  border-color: #464f54;
}

.bg-grey-2 {
  background-color: #5d686e;
}

.text-grey-2 {
  color: #5d686e;
}

.border-grey-2 {
  border-color: #5d686e;
}

.bg-grey-3 {
  background-color: #738087;
}

.text-grey-3 {
  color: #738087;
}

.border-grey-3 {
  border-color: #738087;
}

.bg-grey-4 {
  background-color: #8a989f;
}

.text-grey-4 {
  color: #8a989f;
}

.border-grey-4 {
  border-color: #8a989f;
}

.bg-grey-5 {
  background-color: #a1afb6;
}

.text-grey-5 {
  color: #a1afb6;
}

.border-grey-5 {
  border-color: #a1afb6;
}

.bg-grey-6 {
  background-color: #b9c5ca;
}

.text-grey-6 {
  color: #b9c5ca;
}

.border-grey-6 {
  border-color: #b9c5ca;
}

.bg-greyp-900 {
  background-color: #101a1f;
}

.text-greyp-900 {
  background-color: #101a1f;
}

.border-greyp-900 {
  background-color: #101a1f;
}

.bg-greyp-800 {
  background-color: #232e33;
}

.text-greyp-800 {
  background-color: #232e33;
}

.border-greyp-800 {
  background-color: #232e33;
}

.bg-greyp-700 {
  background-color: #374248;
}

.text-greyp-700 {
  background-color: #374248;
}

.border-greyp-700 {
  background-color: #374248;
}

.bg-greyp-600 {
  background-color: #5d686e;
}

.text-greyp-600 {
  background-color: #5d686e;
}

.border-greyp-600 {
  background-color: #5d686e;
}

.bg-greyp-500 {
  background-color: #8a989f;
}

.text-greyp-500 {
  background-color: #8a989f;
}

.border-greyp-500 {
  background-color: #8a989f;
}

.bg-greyp-400 {
  background-color: #b9c5ca;
}

.text-greyp-400 {
  background-color: #b9c5ca;
}

.border-greyp-400 {
  background-color: #b9c5ca;
}

.bg-greyp-300 {
  background-color: #d0dde4;
}

.text-greyp-300 {
  background-color: #d0dde4;
}

.border-greyp-300 {
  background-color: #d0dde4;
}

.bg-greyp-200 {
  background-color: #dbecf4;
}

.text-greyp-200 {
  background-color: #dbecf4;
}

.border-greyp-200 {
  background-color: #dbecf4;
}

.bg-greyp-100 {
  background-color: #ecf7fd;
}

.text-greyp-100 {
  background-color: #ecf7fd;
}

.border-greyp-100 {
  background-color: #ecf7fd;
}
/*# sourceMappingURL=greyp.css.map */